@{
    ViewData["Title"] = "About Page";
}
<div class="text-center">
    <p class="text-justify">JobsDatingApp - сайт предназначеный для поиска работы и сотрудников по всей стране. На сайте все время появляются новые вакансии.</p>
</div>