@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to JobsDatingApp</h1>
    <p>Подробнеее о <a class="" asp-controller="Home" asp-action="About">компании</a>.</p>
</div>